absl-py @ file:///home/conda/feedstock_root/build_artifacts/absl-py_1705494584803/work
accelerate @ file:///home/conda/feedstock_root/build_artifacts/accelerate_1689437594583/work
aiohttp @ file:///home/conda/feedstock_root/build_artifacts/aiohttp_1707669771084/work
aiohttp-cors==0.7.0
aiosignal @ file:///home/conda/feedstock_root/build_artifacts/aiosignal_1667935791922/work
antlr4-python3-runtime @ file:///home/conda/feedstock_root/build_artifacts/antlr-python-runtime-meta_1638309185939/work
anyio @ file:///croot/anyio_1706220167567/work
archspec @ file:///croot/archspec_1709217642129/work
argon2-cffi @ file:///opt/conda/conda-bld/argon2-cffi_1645000214183/work
argon2-cffi-bindings @ file:///tmp/build/80754af9/argon2-cffi-bindings_1644553347904/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1696128962909/work
asttokens @ file:///opt/conda/conda-bld/asttokens_1646925590279/work
async-lru @ file:///croot/async-lru_1699554519285/work
async-timeout @ file:///home/conda/feedstock_root/build_artifacts/async-timeout_1691763562544/work
attrs @ file:///croot/attrs_1695717823297/work
autogluon @ file:///home/conda/feedstock_root/build_artifacts/autogluon_1701451658785/work/autogluon
autogluon.common @ file:///home/conda/feedstock_root/build_artifacts/autogluon.common_1701381864508/work/common
autogluon.core @ file:///home/conda/feedstock_root/build_artifacts/autogluon.core_1702589766973/work/core
autogluon.features @ file:///home/conda/feedstock_root/build_artifacts/autogluon.features_1702594370148/work/features
autogluon.multimodal @ file:///home/conda/feedstock_root/build_artifacts/autogluon.multimodal_1701605996409/work/multimodal
autogluon.tabular @ file:///home/conda/feedstock_root/build_artifacts/autogluon.tabular_1701416417703/work/tabular
autogluon.timeseries @ file:///home/conda/feedstock_root/build_artifacts/autogluon.timeseries_1701397920799/work/timeseries
Babel @ file:///croot/babel_1671781930836/work
backoff @ file:///home/conda/feedstock_root/build_artifacts/backoff_1665004764738/work
beautifulsoup4 @ file:///croot/beautifulsoup4-split_1681493039619/work
binaryornot==0.4.4
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
blessed @ file:///home/conda/feedstock_root/build_artifacts/blessed_1666523113356/work
blinker @ file:///home/conda/feedstock_root/build_artifacts/blinker_1698890160476/work
blis @ file:///home/conda/feedstock_root/build_artifacts/cython-blis_1696148805003/work
boltons @ file:///croot/boltons_1677628692245/work
boto3 @ file:///home/conda/feedstock_root/build_artifacts/boto3_1709801541121/work
botocore @ file:///home/conda/feedstock_root/build_artifacts/botocore_1709772239260/work
Bottleneck @ file:///croot/bottleneck_1707864210935/work
Brotli @ file:///tmp/abs_ecyw11_7ze/croots/recipe/brotli-split_1659616059936/work
build @ file:///home/conda/feedstock_root/build_artifacts/python-build_1682868691601/work
CacheControl @ file:///home/conda/feedstock_root/build_artifacts/cachecontrol-split_1686152218986/work
cached-property @ file:///home/conda/feedstock_root/build_artifacts/cached_property_1615209429212/work
cachetools @ file:///home/conda/feedstock_root/build_artifacts/cachetools_1708987703938/work
catalogue @ file:///home/conda/feedstock_root/build_artifacts/catalogue_1695626339626/work
catboost @ https://pypi.org/packages/cp310/c/catboost/catboost-1.2.3-cp310-cp310-manylinux2014_x86_64.whl#sha256=647dd55dbf2808dcdd425131e4e279be0330fc6e442c196245d61bf44d742c54
certifi @ file:///croot/certifi_1707229174982/work/certifi
cffi @ file:///croot/cffi_1700254295673/work
cftime @ file:///croot/cftime_1678830372931/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1695468598188/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
cleo @ file:///home/conda/feedstock_root/build_artifacts/cleo_1698693584261/work
click @ file:///home/conda/feedstock_root/build_artifacts/click_1692311806742/work
cloudpathlib @ file:///home/conda/feedstock_root/build_artifacts/cloudpathlib-meta_1697837790453/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1697464713350/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
colorful @ file:///home/conda/feedstock_root/build_artifacts/colorful_1605540393928/work
comm @ file:///croot/comm_1709322850197/work
conda==23.1.0
conda-libmamba-solver @ file:///croot/conda-libmamba-solver_1676391119340/work
conda-package-handling @ file:///croot/conda-package-handling_1690999929514/work
conda_package_streaming @ file:///croot/conda-package-streaming_1690987966409/work
confection @ file:///home/conda/feedstock_root/build_artifacts/confection_1701179074719/work
contourpy @ file:///croot/contourpy_1700583582875/work
cookiecutter @ file:///home/conda/feedstock_root/build_artifacts/cookiecutter_1708608886262/work
crashtest @ file:///home/conda/feedstock_root/build_artifacts/crashtest_1667467006729/work
croniter @ file:///home/conda/feedstock_root/build_artifacts/croniter_1686929181238/work
cryptography @ file:///croot/cryptography_1707523700518/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
cymem @ file:///home/conda/feedstock_root/build_artifacts/cymem_1695443485440/work
cytoolz @ file:///home/conda/feedstock_root/build_artifacts/cytoolz_1706897049115/work
dask @ file:///home/conda/feedstock_root/build_artifacts/dask-core_1708965155542/work
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
datasets @ file:///home/conda/feedstock_root/build_artifacts/datasets_1709395865330/work
dateutils @ file:///home/conda/feedstock_root/build_artifacts/dateutils_1603450192521/work
debugpy @ file:///croot/debugpy_1690905042057/work
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
deepdiff @ file:///home/conda/feedstock_root/build_artifacts/deepdiff_1699970200924/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1706434688412/work
distlib @ file:///home/conda/feedstock_root/build_artifacts/distlib_1702383208639/work
distro @ file:///croot/distro_1701455004953/work
dulwich @ file:///home/conda/feedstock_root/build_artifacts/dulwich_1701831374201/work
emcee @ file:///home/conda/feedstock_root/build_artifacts/emcee_1674847341577/work
evaluate @ file:///home/conda/feedstock_root/build_artifacts/evaluate_1697442180934/work
exceptiongroup @ file:///croot/exceptiongroup_1706031385326/work
executing @ file:///opt/conda/conda-bld/executing_1646925071911/work
fastai @ file:///home/conda/feedstock_root/build_artifacts/fastai_1706754710531/work
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1693161273574/work
fastcore @ file:///home/conda/feedstock_root/build_artifacts/fastcore_1680074857612/work
fastdownload @ file:///home/conda/feedstock_root/build_artifacts/fastdownload_1675782504990/work
fastjsonschema @ file:///opt/conda/conda-bld/python-fastjsonschema_1661371079312/work
fastprogress @ file:///home/conda/feedstock_root/build_artifacts/fastprogress_1658690818839/work
filelock @ file:///home/conda/feedstock_root/build_artifacts/filelock_1698714947081/work
fonttools==4.25.0
fqdn @ file:///home/conda/feedstock_root/build_artifacts/fqdn_1638810296540/work/dist
frozenlist @ file:///home/conda/feedstock_root/build_artifacts/frozenlist_1702645481127/work
fsspec @ file:///home/conda/feedstock_root/build_artifacts/fsspec_1707102468451/work
GDAL @ file:///home/conda/feedstock_root/build_artifacts/gdal-split_1669554498244/work/build/swig/python
gdown @ file:///home/conda/feedstock_root/build_artifacts/gdown_1706981579752/work
gluonts @ file:///home/conda/feedstock_root/build_artifacts/gluonts_1701945826864/work
gmpy2 @ file:///home/conda/feedstock_root/build_artifacts/gmpy2_1666808654411/work
google-api-core @ file:///home/conda/feedstock_root/build_artifacts/google-api-core-split_1707998218025/work
google-auth @ file:///home/conda/feedstock_root/build_artifacts/google-auth_1708547955313/work
google-auth-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/google-auth-oauthlib_1630497468950/work
googleapis-common-protos @ file:///home/conda/feedstock_root/build_artifacts/googleapis-common-protos-feedstock_1702001866871/work
gpustat @ file:///home/conda/feedstock_root/build_artifacts/gpustat_1692786716371/work
graphviz @ file:///home/conda/feedstock_root/build_artifacts/python-graphviz_1658658635601/work
grpcio @ file:///home/conda/feedstock_root/build_artifacts/grpcio_1653138879954/work
h11 @ file:///home/conda/feedstock_root/build_artifacts/h11_1664132893548/work
h2 @ file:///home/conda/feedstock_root/build_artifacts/h2_1634280454336/work
hpack==4.0.0
html5lib @ file:///home/conda/feedstock_root/build_artifacts/html5lib_1592930327044/work
httpcore @ file:///home/conda/feedstock_root/build_artifacts/httpcore_1708529260247/work
httpx @ file:///home/conda/feedstock_root/build_artifacts/httpx_1708530890843/work
huggingface_hub @ file:///home/conda/feedstock_root/build_artifacts/huggingface_hub_1709810635566/work
hyperframe @ file:///home/conda/feedstock_root/build_artifacts/hyperframe_1619110129307/work
idna @ file:///croot/idna_1666125576474/work
imagecodecs @ file:///home/conda/feedstock_root/build_artifacts/imagecodecs_1668867542751/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1707730027807/work
importlib-metadata @ file:///croot/importlib_metadata-suite_1704813515092/work
importlib_resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1709821111795/work
inquirer @ file:///home/conda/feedstock_root/build_artifacts/inquirer_1700596410127/work
installer @ file:///home/conda/feedstock_root/build_artifacts/python-installer_1679300325491/work
ipykernel @ file:///croot/ipykernel_1705933831282/work
ipython @ file:///croot/ipython_1704833016303/work
ipywidgets @ file:///croot/ipywidgets_1709574692113/work
isoduration @ file:///home/conda/feedstock_root/build_artifacts/isoduration_1638811571363/work/dist
itsdangerous @ file:///home/conda/feedstock_root/build_artifacts/itsdangerous_1648147185463/work
jaraco.classes @ file:///home/conda/feedstock_root/build_artifacts/jaraco.classes_1707378080076/work
jedi @ file:///tmp/build/80754af9/jedi_1644315229345/work
jeepney @ file:///home/conda/feedstock_root/build_artifacts/jeepney_1649085214306/work
Jinja2 @ file:///croot/jinja2_1706733616596/work
jmespath @ file:///home/conda/feedstock_root/build_artifacts/jmespath_1655568249366/work
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1691577114857/work
json5 @ file:///tmp/build/80754af9/json5_1624432770122/work
jsonpatch @ file:///tmp/build/80754af9/jsonpatch_1615747632069/work
jsonpointer==2.1
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1669810440410/work
jsonschema-specifications @ file:///croot/jsonschema-specifications_1699032386549/work
jupyter @ file:///croot/jupyter_1707947101020/work
jupyter-console @ file:///croot/jupyter_console_1679999630278/work
jupyter-events @ file:///home/conda/feedstock_root/build_artifacts/jupyter_events_1690301630599/work
jupyter-lsp @ file:///croot/jupyter-lsp-meta_1699978238815/work
jupyter_client @ file:///croot/jupyter_client_1699455897726/work
jupyter_core @ file:///croot/jupyter_core_1698937308754/work
jupyter_server @ file:///croot/jupyter_server_1699466442171/work
jupyter_server_terminals @ file:///croot/jupyter_server_terminals_1686870725608/work
jupyterlab @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_1709822709658/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///croot/jupyterlab_widgets_1709322880313/work
jupyterlab_server @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_server_1690205927615/work
keyring @ file:///home/conda/feedstock_root/build_artifacts/keyring_1671728228693/work
kiwisolver @ file:///croot/kiwisolver_1672387140495/work
langcodes @ file:///home/conda/feedstock_root/build_artifacts/langcodes_1636741340529/work
libmambapy @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1678097005952/work/libmambapy
lightgbm @ file:///home/conda/feedstock_root/build_artifacts/lightgbm_1698241824850/work
lightning @ file:///home/conda/feedstock_root/build_artifacts/lightning_1695971291138/work
lightning-utilities @ file:///home/conda/feedstock_root/build_artifacts/lightning-utilities_1705619433111/work
lightning_cloud @ file:///home/conda/feedstock_root/build_artifacts/lightning-cloud_1706642074281/work
llvmlite==0.42.0
locket @ file:///home/conda/feedstock_root/build_artifacts/locket_1650660393415/work
lockfile==0.12.2
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba-split_1678097005952/work/mamba
Markdown @ file:///home/conda/feedstock_root/build_artifacts/markdown_1704908347571/work
markdown-it-py @ file:///home/conda/feedstock_root/build_artifacts/markdown-it-py_1686175045316/work
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib @ file:///croot/matplotlib-suite_1698692105134/work
matplotlib-inline @ file:///opt/conda/conda-bld/matplotlib-inline_1662014470464/work
mdurl @ file:///home/conda/feedstock_root/build_artifacts/mdurl_1704317613764/work
menuinst @ file:///croot/menuinst_1706732933928/work
mistune @ file:///opt/conda/conda-bld/mistune_1661496219659/work
mlforecast @ file:///home/conda/feedstock_root/build_artifacts/mlforecast_1696354974765/work
model-index @ file:///home/conda/feedstock_root/build_artifacts/model-index_1674171417239/work
more-itertools @ file:///home/conda/feedstock_root/build_artifacts/more-itertools_1704738417589/work
mpmath @ file:///home/conda/feedstock_root/build_artifacts/mpmath_1678228039184/work
msgpack @ file:///home/conda/feedstock_root/build_artifacts/msgpack-python_1700926504817/work
multidict @ file:///home/conda/feedstock_root/build_artifacts/multidict_1707040698785/work
multiprocess @ file:///home/conda/feedstock_root/build_artifacts/multiprocess_1706514640841/work
munkres==1.1.4
murmurhash @ file:///home/conda/feedstock_root/build_artifacts/murmurhash_1695449783955/work
nbclient @ file:///croot/nbclient_1698934205032/work
nbconvert @ file:///croot/nbconvert_1699022732553/work
nbformat @ file:///croot/nbformat_1694616755618/work
nest-asyncio @ file:///croot/nest-asyncio_1708532673751/work
netCDF4 @ file:///croot/netcdf4_1673455456943/work
networkx @ file:///home/conda/feedstock_root/build_artifacts/networkx_1698504735452/work
nlpaug @ file:///home/conda/feedstock_root/build_artifacts/nlpaug_1675088251829/work
nltk @ file:///home/conda/feedstock_root/build_artifacts/nltk_1672696305909/work
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1708959020001/work
notebook_shim @ file:///croot/notebook-shim_1699455894279/work
nptyping @ file:///home/conda/feedstock_root/build_artifacts/nptyping_1668652041379/work
numba @ file:///home/conda/feedstock_root/build_artifacts/numba_1707024805237/work
numexpr @ file:///croot/numexpr_1696515281613/work
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp310-cp310-linux_x86_64.whl#sha256=ce136f308f566617937abac6c8f280bd61b41c12ab7eb7d8784c5795c5be477b
nvidia-ml-py @ file:///home/conda/feedstock_root/build_artifacts/nvidia-ml-py_1698947663801/work
oauthlib @ file:///home/conda/feedstock_root/build_artifacts/oauthlib_1666056362788/work
omegaconf @ file:///home/conda/feedstock_root/build_artifacts/omegaconf_1670575376789/work
opencensus @ file:///home/conda/feedstock_root/build_artifacts/opencensus_1695079360989/work
opencensus-context @ file:///home/conda/feedstock_root/build_artifacts/opencensus-context_1695549667470/work
openmim @ file:///home/conda/feedstock_root/build_artifacts/openmim_1679406745319/work
ordered-set @ file:///home/conda/feedstock_root/build_artifacts/ordered-set_1643221357603/work
orjson @ file:///home/conda/feedstock_root/build_artifacts/orjson_1708717141072/work/target/wheels/orjson-3.9.15-cp310-cp310-linux_x86_64.whl#sha256=0a7c0fa3196da3711ba9a551dda29e568a20de7d33eccb8ff934934cd44bc414
overrides @ file:///croot/overrides_1699371140756/work
packaging @ file:///croot/packaging_1693575174725/work
pandas @ file:///home/conda/feedstock_root/build_artifacts/pandas_1702057131119/work
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
partd @ file:///home/conda/feedstock_root/build_artifacts/partd_1695667515973/work
pathy @ file:///croot/pathy_1703688110387/work
patsy==0.5.3
pexpect @ file:///tmp/build/80754af9/pexpect_1605563209008/work
pillow @ file:///croot/pillow_1707233021655/work
pkginfo @ file:///home/conda/feedstock_root/build_artifacts/pkginfo_1709561090460/work
pkgutil_resolve_name @ file:///home/conda/feedstock_root/build_artifacts/pkgutil-resolve-name_1694617248815/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1672264874562/work
plotly @ file:///home/conda/feedstock_root/build_artifacts/plotly_1708020413888/work
pluggy @ file:///tmp/build/80754af9/pluggy_1648024709248/work
ply==3.11
poetry @ file:///home/conda/feedstock_root/build_artifacts/poetry_1680723515354/work
poetry-core @ file:///home/conda/feedstock_root/build_artifacts/poetry-core_1678790306193/work
poetry-plugin-export @ file:///home/conda/feedstock_root/build_artifacts/poetry-plugin-export_1681748973730/work
preshed @ file:///home/conda/feedstock_root/build_artifacts/preshed_1695644760607/work
prometheus-client @ file:///tmp/abs_d3zeliano1/croots/recipe/prometheus_client_1659455100375/work
prompt-toolkit @ file:///croot/prompt-toolkit_1704404351921/work
protobuf==4.23.3
psutil @ file:///opt/conda/conda-bld/psutil_1656431268089/work
ptyprocess @ file:///tmp/build/80754af9/ptyprocess_1609355006118/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///opt/conda/conda-bld/pure_eval_1646925070566/work
pyarrow==13.0.0
pyarrow-hotfix @ file:///home/conda/feedstock_root/build_artifacts/pyarrow-hotfix_1700596371886/work
pyasn1 @ file:///home/conda/feedstock_root/build_artifacts/pyasn1_1701287008248/work
pyasn1-modules @ file:///home/conda/feedstock_root/build_artifacts/pyasn1-modules_1695107857548/work
pycosat @ file:///croot/pycosat_1696536503704/work
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///home/conda/feedstock_root/build_artifacts/pydantic_1697791016385/work
pyextremes @ file:///home/conda/feedstock_root/build_artifacts/pyextremes_1697353889012/work
Pygments @ file:///croot/pygments_1684279966437/work
pygmt @ file:///home/conda/feedstock_root/build_artifacts/pygmt_1706804691272/work
PyJWT @ file:///home/conda/feedstock_root/build_artifacts/pyjwt_1706895065046/work
pyOpenSSL @ file:///croot/pyopenssl_1708380408460/work
pyparsing @ file:///opt/conda/conda-bld/pyparsing_1661452539315/work
pyproject_hooks @ file:///home/conda/feedstock_root/build_artifacts/pyproject_hooks_1670268672584/work
PyQt5==5.15.10
PyQt5-sip @ file:///croot/pyqt-split_1698769088074/work/pyqt_sip
pyrsistent @ file:///home/conda/feedstock_root/build_artifacts/pyrsistent_1698753827123/work
PySocks @ file:///home/builder/ci_310/pysocks_1640793678128/work
pytesseract @ file:///home/conda/feedstock_root/build_artifacts/pytesseract_1647306555263/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-editor==1.0.4
python-json-logger @ file:///croot/python-json-logger_1683823803357/work
python-multipart @ file:///home/conda/feedstock_root/build_artifacts/python-multipart_1707760088566/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify-split_1707425621764/work
pytorch-lightning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-lightning_1694753701789/work
pytorch-metric-learning @ file:///home/conda/feedstock_root/build_artifacts/pytorch-metric-learning_1674962728780/work
pytz @ file:///croot/pytz_1695131579487/work
pyu2f @ file:///home/conda/feedstock_root/build_artifacts/pyu2f_1604248910016/work
PyWavelets @ file:///home/conda/feedstock_root/build_artifacts/pywavelets_1695567558330/work
PyYAML @ file:///croot/pyyaml_1698096049011/work
pyzmq @ file:///croot/pyzmq_1705605076900/work
qtconsole @ file:///croot/qtconsole_1709231153903/work
QtPy @ file:///croot/qtpy_1700144840038/work
rapidfuzz @ file:///home/conda/feedstock_root/build_artifacts/rapidfuzz_1709733753452/work
ray==2.6.3
readchar @ file:///home/conda/feedstock_root/build_artifacts/readchar_1679045163536/work
referencing @ file:///croot/referencing_1699012038513/work
regex @ file:///home/conda/feedstock_root/build_artifacts/regex_1703393490683/work
requests @ file:///croot/requests_1707355572290/work
requests-oauthlib @ file:///home/conda/feedstock_root/build_artifacts/requests-oauthlib_1643557462909/work
requests-toolbelt @ file:///home/conda/feedstock_root/build_artifacts/requests-toolbelt_1667050328587/work
responses @ file:///home/conda/feedstock_root/build_artifacts/responses_1643839609465/work
rfc3339-validator @ file:///croot/rfc3339-validator_1683077044675/work
rfc3986-validator @ file:///croot/rfc3986-validator_1683058983515/work
rich @ file:///home/conda/feedstock_root/build_artifacts/rich-split_1709150387247/work/dist
rpds-py @ file:///croot/rpds-py_1698945930462/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
ruamel.yaml @ file:///croot/ruamel.yaml_1666304550667/work
ruamel.yaml.clib @ file:///croot/ruamel.yaml.clib_1666302247304/work
s3transfer @ file:///home/conda/feedstock_root/build_artifacts/s3transfer_1703197439685/work
sacremoses @ file:///home/conda/feedstock_root/build_artifacts/sacremoses_1651557636210/work
safetensors @ file:///home/conda/feedstock_root/build_artifacts/safetensors_1707377218239/work
scikit-image @ file:///home/conda/feedstock_root/build_artifacts/scikit-image_1667117143644/work
scikit-learn @ file:///home/conda/feedstock_root/build_artifacts/scikit-learn_1708073821019/work
scipy @ file:///croot/scipy_1701295040508/work/dist/scipy-1.11.4-cp310-cp310-linux_x86_64.whl#sha256=98e4e3a1ef49d0edb98b5eb8384c7c5204a5378bf8b56aa1c6a5b03208b9d91a
seaborn @ file:///croot/seaborn_1673479180098/work
SecretStorage @ file:///home/conda/feedstock_root/build_artifacts/secretstorage_1695551734488/work
Send2Trash @ file:///croot/send2trash_1699371139552/work
sentencepiece @ file:///home/conda/feedstock_root/build_artifacts/sentencepiece-split_1688235487348/work/python
seqeval @ file:///home/conda/feedstock_root/build_artifacts/seqeval_1607636513878/work
setproctitle @ file:///home/conda/feedstock_root/build_artifacts/setproctitle_1649637297421/work
shellingham @ file:///home/conda/feedstock_root/build_artifacts/shellingham_1698144360966/work
shutup==0.2.0
sip @ file:///croot/sip_1698675935381/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
smart-open @ file:///home/conda/feedstock_root/build_artifacts/smart_open_split_1694066705667/work/dist
sniffio @ file:///croot/sniffio_1705431295498/work
soupsieve @ file:///croot/soupsieve_1696347547217/work
spacy @ file:///home/conda/feedstock_root/build_artifacts/spacy_1699194962107/work
spacy-legacy @ file:///home/conda/feedstock_root/build_artifacts/spacy-legacy_1674550301837/work
spacy-loggers @ file:///home/conda/feedstock_root/build_artifacts/spacy-loggers_1694527114282/work
srsly @ file:///home/conda/feedstock_root/build_artifacts/srsly_1695653949688/work
stack-data @ file:///opt/conda/conda-bld/stack_data_1646927590127/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1684245096404/work
starsessions @ file:///home/conda/feedstock_root/build_artifacts/starsessions_1659923701614/work
statsforecast @ file:///home/conda/feedstock_root/build_artifacts/statsforecast_1669882640898/work
statsmodels @ file:///croot/statsmodels_1689937266057/work
sympy @ file:///home/conda/feedstock_root/build_artifacts/sympy_1684180540116/work
tabulate @ file:///home/conda/feedstock_root/build_artifacts/tabulate_1665138452165/work
tenacity @ file:///home/conda/feedstock_root/build_artifacts/tenacity_1692026804430/work
tensorboard @ file:///home/conda/feedstock_root/build_artifacts/tensorboard_1673674224265/work/tensorboard-2.11.2-py3-none-any.whl
tensorboard-data-server @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-data-server_1670043874102/work/tensorboard_data_server-0.6.1-py3-none-manylinux2010_x86_64.whl
tensorboard-plugin-wit @ file:///home/conda/feedstock_root/build_artifacts/tensorboard-plugin-wit_1641458951060/work/tensorboard_plugin_wit-1.8.1-py3-none-any.whl
tensorboardX @ file:///home/conda/feedstock_root/build_artifacts/tensorboardx_1692548726750/work
terminado @ file:///croot/terminado_1671751832461/work
text-unidecode @ file:///home/conda/feedstock_root/build_artifacts/text-unidecode_1694707102786/work
thinc @ file:///home/conda/feedstock_root/build_artifacts/thinc_1703842165913/work
threadpoolctl @ file:///home/conda/feedstock_root/build_artifacts/threadpoolctl_1707930541534/work
tifffile @ file:///home/conda/feedstock_root/build_artifacts/tifffile_1665588749940/work
timm @ file:///home/conda/feedstock_root/build_artifacts/timm_1708532402622/work
tinycss2 @ file:///croot/tinycss2_1668168815555/work
tokenizers @ file:///home/conda/feedstock_root/build_artifacts/tokenizers_1680703515991/work/bindings/python
tomli @ file:///opt/conda/conda-bld/tomli_1657175507142/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1709043728182/work
toolz @ file:///croot/toolz_1667464077321/work
torch @ file:///home/conda/feedstock_root/build_artifacts/pytorch-recipe_1693317559587/work
torchmetrics @ file:///home/conda/feedstock_root/build_artifacts/torchmetrics_1694450509941/work
torchvision @ file:///croot/torchvision_1689078161692/work
tornado @ file:///croot/tornado_1696936946304/work
tqdm @ file:///croot/tqdm_1679561862951/work
traitlets @ file:///croot/traitlets_1671143879854/work
transformers @ file:///home/conda/feedstock_root/build_artifacts/transformers_1689730109002/work
trove-classifiers @ file:///home/conda/feedstock_root/build_artifacts/trove-classifiers_1709548134453/work
truststore @ file:///croot/truststore_1695244293384/work
typer @ file:///home/conda/feedstock_root/build_artifacts/typer_1683029246636/work
types-python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/types-python-dateutil_1704512562698/work
typing_extensions @ file:///croot/typing_extensions_1705599297034/work
typish @ file:///home/conda/feedstock_root/build_artifacts/typish_1628254486386/work
tzdata @ file:///croot/python-tzdata_1690578112552/work
ujson @ file:///home/conda/feedstock_root/build_artifacts/ujson_1702256697606/work
uri-template @ file:///home/conda/feedstock_root/build_artifacts/uri-template_1688655812972/work/dist
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1697813446430/work
utilsforecast @ file:///home/conda/feedstock_root/build_artifacts/utilsforecast_1709762727212/work
uvicorn @ file:///home/conda/feedstock_root/build_artifacts/uvicorn-split_1707597432519/work
virtualenv @ file:///home/conda/feedstock_root/build_artifacts/virtualenv_1678703647856/work
wasabi @ file:///home/conda/feedstock_root/build_artifacts/wasabi_1686131297168/work
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
weasel @ file:///home/conda/feedstock_root/build_artifacts/weasel_1699295455892/work
webcolors @ file:///home/conda/feedstock_root/build_artifacts/webcolors_1679900785843/work
webencodings==0.5.1
websocket-client @ file:///home/builder/ci_310/websocket-client_1640795866898/work
websockets @ file:///home/conda/feedstock_root/build_artifacts/websockets_1697914682990/work
Werkzeug @ file:///home/conda/feedstock_root/build_artifacts/werkzeug_1698235201373/work
widgetsnbextension @ file:///croot/widgetsnbextension_1709322880396/work
window_ops @ file:///home/conda/feedstock_root/build_artifacts/window-ops_1709587127407/work
xarray @ file:///croot/xarray_1689041471350/work
xgboost==1.7.6
xxhash @ file:///home/conda/feedstock_root/build_artifacts/python-xxhash_1696486308932/work
yarl @ file:///home/conda/feedstock_root/build_artifacts/yarl_1705508292061/work
zipp @ file:///croot/zipp_1704206909481/work
zstandard @ file:///croot/zstandard_1677013143055/work
